<!DOCTYPE html>
<html>
  <head>
    <title>Poem Machinery III.</title>

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/cities-of-fire.css" />
    <meta charset="utf-8" />
    <meta name="robots" content="noodp" />
    <script src="js/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-sanitize.js"></script>
    <script src="js/ngapp.js"></script>
  </head>
  <body ng-app="webApp">
    <div class="everything" ng-controller="AppController">
      <header>
        <hgroup>
          <h2>by @imehesz</h2>
          <h1><small class="the">the</small> <br /> Poem <br /> Machinery</h1>
        </hgroup>
      </header>

      <hgroup>
        <div class="premade">
          <h2>
            <a ng-click="generatePoem('dark')" href="javascript:void(0);">Dark</a>
            <a ng-click="generatePoem('love')" href="javascript:void(0);">Love</a>
            <a ng-click="generatePoem('haiku')" href="javascript:void(0);">Modern Haiku</a>
            <a ng-click="customPoem();displayCustom=true" href="javascript:void(0);">Custom</a>
          </h2>

        </div>
      </hgroup>

      <div ng-show="displayCustom" class="input-wrapper">
        <div class="left">
          <div>
            <label for="stanza_in_poem">S T A N Z A</label><input ng-model="poemSource.stanza" type="text" id="stanza_in_poem">
          </div>
          <div>
            <label for="lines_in_stanza">L I N E S</label><input ng-model="poemSource.lines" type="text" id="lines_in_stanza">
          </div>
          <div>
            <label for="words_in_line">W O R D S</label><input ng-model="poemSource.words" type="text" id="words_in_line">
          </div>
          <br>
          <div>
            P r e s e t s
          </div>
          <div><a href="javascript:void(0);" ng-click="setPoemSource('dark')">Dark</a></div>
          <div><a href="javascript:void(0);" ng-click="setPoemSource('love')">Love</a></div>
          <div><a href="javascript:void(0);" ng-click="setPoemSource('haiku')">Haiku</a></div>
          <div><a href="javascript:void(0);" ng-click="setPoemSource('fantasy')">Fantasy</a></div>
        </div>
        <div class="right">
          <textarea id="input_words" rows="10" cols="40" ng-model="poemSource.text"></textarea>
        </div>
        <button ng-click="generatePoem(poemSource)">Generate</button>
        <button ng-click="displayCustom=false">Close</button>
      </div>

      <article class="hentry">
        <div class="victorian"></div>
        <div id="poem"></div>
        <div ng-bind-html="poem">{{poem}}</div>
      </article>

    </div>
  </body>
</html>
